.quiz-score-section {
	text-align: center;
	padding: 2rem;
}

.quiz-restart-btn {
	background-color: #7359ff;
	color: white;
	border: none;
	padding: 0.8rem 2rem;
	border-radius: 0.5rem;
	font-size: 1rem;
	cursor: pointer;
	margin-top: 1rem;
	transition: background-color 0.2s;
}

.quiz-restart-btn:hover {
	background-color: #8668ff;
}
