.quiz-container {
	max-width: 50rem;
	margin: 0 auto;
	padding: 2rem 0rem;
	color: white;
}

/* Gemensamma knappstilar */
.quiz-btn-primary {
	background-color: #7359ff;
	color: white;
	border: none;
	padding: 0.8rem 2rem;
	border-radius: 0.5rem;
	font-size: 1rem;
	cursor: pointer;
	margin-top: 1rem;
	transition: background-color 0.2s;
}

.quiz-btn-primary:hover {
	background-color: #8668ff;
}
