@media screen and (width >= 87.5625rem) {
	.nav {
		max-width: 106.25rem;
	}
}
@media screen and (width <= 87.5rem) {
}
@media screen and (width <= 75rem) {
	/* nav */
	.nav-middle {
		max-width: 30rem;
		width: 50%;
		margin-right: 0rem;
	}

	/* info-section */
	.info-section {
		padding: 2rem 0;
		font-size: medium;
	}
	.info-item {
		margin: 0 1rem;
	}
}
@media screen and (width <= 700px) {
	/* nav */
	.nav-middle {
		display: none;
	}
	.nav-right {
		display: flex;
		justify-content: end;
	}
	.nav-left {
		display: flex;
		justify-content: start;
	}

	/* login-panel */
	.login-panel {
		max-width: 22.4rem;
	}

	/* info-section */
	.info-section {
		padding: 2rem 0;
		font-size: small;
	}
	.info-item {
		margin: 0 1rem;
	}
	.hide-on-mobile {
		display: none;
	}

	/* games-section */
	.game-card {
		flex: 0 0 21.4rem;
	}
	.game-card h3 {
		margin-bottom: 0.2rem;
		font-size: 1rem;
	}

	.game-card p {
		font-size: 0.7rem;
	}
}

@media screen and (width <= 31.25rem) {
	/* carousel */
	.games-scroll-container {
		scroll-snap-type: x mandatory;
	}
}
