.quiz-score-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: var(--background-color);
}

.quiz-btn-primary {
	margin-bottom: 1rem;
	background-color: #7359ff;
	color: white;
	border: none;
	padding: 0.8rem 2rem;
	border-radius: 0.5rem;
	font-size: 1rem;
	cursor: pointer;
	margin-top: 0.5rem;
	transition: ease-in-out 0.2s;
}

.quiz-btn-primary:hover {
	background-color: #8668ff;
	/* transform: scale(1.02); */
}
