.info-section {
	padding: 2rem 1rem;
}

.info-content {
	max-width: 75rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.info-item {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.info-icon {
	font-size: 1.5rem;
}
