.app {
	background-color: var(--background-color);
	color: var(--text-light);
	min-height: 100vh;
	position: relative;
	isolation: isolate;
}

/* Layout styling */
.main-content {
	flex-direction: column;
	align-items: center;
}
