@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
	/* --background-color: #f9fafb; */
	--primary-color: #7359ff;
	--primary-hover: #8668ff;
	--background-color: #0c0d14;
	--border-color: #373952;
	--correct-color: #6dff72;
	--incorrect-color: #f44336;
	--text-light: #ffffff;
	--text-muted: #cccccc;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: var(--background-color);
	color: var(--text-light);
	font-family: "Inter", sans-serif;
	scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: inherit;
	transition: color 0.3s ease;
}
