.game-page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	max-width: 60rem;
	margin: 0 auto;
	padding: 1rem;
}

.game-preview {
	width: 100%;
	border-radius: 0.2rem;
	position: relative;
	overflow: hidden;
}

.login-banner {
	background-color: #523cc4;
	padding: 0.4rem;
	text-align: center;
	color: white;
	width: 100%;
	font-size: 0.7rem;
}
.login-banner:hover {
	background-color: #5938dc;
}

.login-btn {
	background-color: white;
	color: #7359ff;
	border: none;
	padding: 0.2rem 0.8rem;
	border-radius: 2rem;
	margin-left: 0.5rem;
	cursor: pointer;
	font-weight: bold;
}

.game-footer-content {
	display: flex;
	background-color: #212233;
	padding: 1rem;
	justify-content: space-between;
	align-items: center;
}

.game-footer-content h2 {
	font-size: 1.2rem;
}

.game-stats {
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.stats-item {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.stats-item span {
	font-size: small;
}
