.header {
	position: sticky;
	background: rgba(33, 34, 51, 0.6);
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	padding: 0.7rem 1rem;
	z-index: 11;
}

.nav {
	max-width: 75rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-left {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.nav-middle {
	max-width: 30rem;
	width: 40%;
	margin-right: -4.5rem;
}

.nav-right {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2rem;
	cursor: pointer;
}

.search-bar {
	display: flex;
	background-color: #373952;
	border-radius: 2rem;
	overflow: hidden;
	align-items: center;
	height: 2.5rem;
	padding: 0 0.5rem 0 1rem;
}

.search-bar input {
	display: flex;
	align-items: center;
	border: none;
	color: white;
	background-color: transparent;
	outline: none;
	width: 100%;
	height: 2.4rem;
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

.search-bar input::placeholder {
	color: #abadbf;
	font-size: 1rem;
	vertical-align: middle;
}

.search-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	background: transparent;
	border: none;
	cursor: pointer;
	height: 100%;
}

.nav-button__icons {
	display: flex;
	color: #eff0f7;
	background-color: #363745;
	border-radius: 2rem;
	padding: 0.5rem;
	border: none;
	cursor: pointer;
	transition: all 0.2s ease;
}
.nav-button__icons:hover {
	color: #7359ff;
}

.nav-button__login {
	background-color: #6842ff;
	color: white;
	border: none;
	padding: 0.7rem 1rem;
	border-radius: 2rem;
	cursor: pointer;
	transition: all 0.2s ease;
	font-size: 0.9rem;
	font-weight: bold;
	letter-spacing: 0.5px;
}
.nav-button__login:hover {
	background-color: #7359ff;
}
