/* Carousel.css */
.carousel-container {
	position: relative;
	display: flex;
	align-items: center;
}

.side-overlay {
	z-index: 1;
}

.scroll-button {
	position: absolute;
	background-color: transparent;
	border: none;
	top: 0;
	width: 3rem;
	height: 18rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: transform 0.2s;
	color: #f9faff;
	z-index: 2;
}

.scroll-button.left {
	left: 0rem;
}

.scroll-button.right {
	right: 0rem;
}

.scroll-button.left:hover {
	transform: translateX(-4px);
}

.scroll-button.right:hover {
	transform: translateX(4px);
}

.games-scroll-container {
	display: flex;
	gap: 0.6rem;
	overflow-x: auto;
	padding: 0.3rem 0;
	scrollbar-width: none;
}

.games-scroll-container::-webkit-scrollbar {
	display: none;
}
