.login-panel {
	position: fixed;
	height: calc(100% - 6.4rem);
	top: calc(4.3rem);
	right: -100%;
	width: 100%;
	max-width: 24rem;
	height: calc(98vh - 4rem);
	background-color: #1a1b28;
	transition: right 0.3s ease-in-out;
	box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
	border-radius: 0.5rem;
	margin-right: 0.5rem;
	overflow-x: hidden;
	overflow-y: overlay;
	z-index: 10;
}

.login-panel.open {
	right: 0;
}

.login-panel-content {
	padding: 5rem 1rem 0 1rem;
	color: white;
}

.close-button {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background: none;
	border: none;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
}

.login-panel h2 {
	text-align: center;
	margin-bottom: 2rem;
	font-size: 1.4rem;
	letter-spacing: 0.5px;
}

.google-button,
.facebook-button {
	width: 100%;
	padding: 0.75rem;
	margin-bottom: 1rem;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	border-radius: 2rem;
	cursor: pointer;
	font-size: 0.9rem;
	font-weight: medium;
}

.google-button {
	background-color: #fff;
	color: #333;
}
.google-button:hover {
	background-color: #e4e4e4;
}

.facebook-button {
	background-color: #1877f2;
	color: white;
}
.facebook-button:hover {
	background-color: #2458ab;
}

.google-button svg,
.facebook-button svg {
	width: 1.2rem;
	height: 1.2rem;
}

.divider {
	text-align: center;
	margin: 1.5rem 0;
	position: relative;
}

.divider::before,
.divider::after {
	content: "";
	position: absolute;
	top: 50%;
	width: 45%;
	height: 1px;
	background-color: #4b5563;
}

.divider::before {
	left: 0;
}

.divider::after {
	right: 0;
}

.divider span {
	color: #ffffff;
}

input {
	width: 100%;
	padding: 1rem;
	margin-bottom: 1rem;
	border: 1px solid #4b5563;
	border-radius: 8px;
	background-color: #12131c;
	outline: none;
	color: white;
}
input:hover {
	border-color: rgb(173, 173, 173);
}
input::placeholder {
	color: #abadbf;
}

.continue-button {
	width: 100%;
	padding: 1rem;
	background-color: #6842ff;
	color: white;
	border: none;
	border-radius: 2rem;
	cursor: pointer;
	font-size: 0.9rem;
	font-weight: medium;
}

.continue-button:hover {
	background-color: #7359ff;
}
